@import "tailwindcss";

/* Optional: make dark: use the .dark class */
@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
}


::-webkit-scrollbar {
  width: 6px;
}

/* TRACK color */
::-webkit-scrollbar-track {
  background: #1f2937; /* dark slate */
}

/* THUMB color */
::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 10px;
}

/* THUMB hover color */
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}